@import '../variable';

header {
	display: block;
	padding-top: 70px;
	text-align: center;


	#profilPhoto {
		float: left;
		margin: 0 30px 1em 0;
		img {
			border-radius: 125px;
			border: 6px solid $border-color;
		}

	}
	h1 {
		text-align: left;
		margin-top: 10px;
		// width: 40%;
		// margin: 0 auto 1em;
		// display: block;
	}

}
#homepage header {
	#profilPhoto {
		float: none;
		margin: 0;
	}
	h1 {
		text-align: center;
		margin-top: 0;
	}
}
